*{
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    background: url("../image/work_16.png")
}
header{
    position: fixed;
    padding: 30px 100px;
    box-sizing: border-box;
    width: 100%;
}
.flt{
    float: left;
    margin-left: 2rem;
    list-style: none;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}

a:hover{
    opacity: 0.8;
}
.tit{
    float: left;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-div{
    margin-left: 3rem;
    float: left;
}

.sign-div{
    float: right;
}
#submenu{
    display: none;
    margin-top: 10px;
    list-style: none;
    
}
.container{
    width: 100%;
    height: 1000px;
}