*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    position: relative;
    padding: 40px 80px;
    border: 2px solid black;
    text-align: center;
}
.cir{
    position: absolute;
    left: -10%;
    top: 40%;
    width: 0;
    height: 0;
    border: 30px solid rgb(254, 233, 49);
    border-radius: 100%;
}
.tri{
    position: absolute;
    right: 10%;
    top: -15%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid rgb(254, 233, 49);
    border-left: 25px solid rgb(254, 233, 49);
    transform: rotate(20deg);
}